@import "../../styles/variables";

.container {
  width: $desctop-width;
  margin: 0 auto;
}

.faq {
  &__content {
    width: 83.34%;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    color: $main-green;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 34px;
  }

  &__list {
    width: 100%;
    &-item {
      width: 100%;
      margin-bottom: 20px;
      :last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
