@import "../../styles/variables";

.localization {
  position: relative;

  &__current, &__link {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $text-black;
    text-transform: capitalize;
    cursor: pointer;
    width: 34px;
  }

  &__list {
    position: absolute;
    background-color: $white;
  }
}