@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  @include container;
}

.how-it-works {
  &__title-block {
    width: 100%;
    background-color: $main-green;
    border-radius: 25px 25px 0px 25px;
    padding: 20px 0;
    margin-bottom: 37px;
    @media (min-width: $wide-phone-width) {
      padding: 38px 0;
    }
  }

  &__title {
    text-align: center;
    color: $white;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media (min-width: $tablet-width) {
      font-size: 45px;
    }
  }

  &__list {
    width: 100%;
    margin: 0 auto;
    @media (min-width: $desktop-width) {
      width: 68%;
    }

    &-item {
      margin-bottom: 40px;
      // @media (min-width: $tablet-width) {
      //   margin-bottom: 40px;
      // }
      // @media (min-width: $unfolded-tablet-width) {
      //   margin-bottom: 66px;
      // }
      // @media (min-width: $desktop-width) {
      //   margin-bottom: 49px;
      // }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
