.socials {
  &__list {
    display: flex;
    align-items: center;

    &-item {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__link {
    display: block;
    height: 100%;
  }
}