@import "../../styles/variables";

.button {
  // width: 206px;
  // height: 58px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  border-radius: 10px;
}

.payment {
  background-color: $yellow-payment;
  color: $text-black;
}

.payment-active {
  box-shadow: $payment-button-shadow;
  background-color: $white;
  color: $main-green;
}